{% extends 'vendas/base.html' %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>{% trans %}This is a generic home for venda_app {% endtrans %}  </h1>
                {% if _logged_user and ('ADMIN' in _logged_user.groups) %}
                <a href="{{ admin_path }}" class="btn btn-success">{% trans %}Admin{% endtrans %}</a>
                {% endif %}
                <hr/>
                <h2>{% trans %}Casas Disponíveis para Venda{% endtrans %}</h2>
                <table class="table table-striped table-hover">
                    <thead>
                    <tr>
                        <th>{% trans %}Numero Dormitorios{% endtrans %}</th>
                        <th>{% trans %}Detalhes{% endtrans %}</th>
                        <th>{% trans %}Forma Pg{% endtrans %}</th>
                        <th>{% trans %}Bairro{% endtrans %}</th>
                        <th>{% trans %}Vaga Garagem{% endtrans %}</th>
                        <th>{% trans %}Rua{% endtrans %}</th>
                        <th>{% trans %}Area Total{% endtrans %}</th>
                        <th>{% trans %}Nome Responsavel{% endtrans %}</th>
                        <th>{% trans %}Numero{% endtrans %}</th>
                        <th>{% trans %}Valor{% endtrans %}</th>
                        <th>{% trans %}Cep{% endtrans %}</th>
                        <th>{% trans %}Tipo Imovel{% endtrans %}</th>
                        <th>{% trans %}Area Construida{% endtrans %}</th>
                        <th>{% trans %}Cpf Responsavel{% endtrans %}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for venda in vendas %}
                        <tr>
                            <td>{{ venda.numero_dormitorios }}</td>
                            <td>{{ venda.detalhes }}</td>
                            <td>{{ venda.forma_pg }}</td>
                            <td>{{ venda.bairro }}</td>
                            <td>{{ venda.vaga_garagem }}</td>
                            <td>{{ venda.rua }}</td>
                            <td>{{ venda.area_total }}</td>
                            <td>{{ venda.nome_responsavel }}</td>
                            <td>{{ venda.numero }}</td>
                            <td>{{ venda.valor }}</td>
                            <td>{{ venda.cep }}</td>
                            <td>{{ venda.tipo_imovel }}</td>
                            <td>{{ venda.area_construida }}</td>
                            <td>{{ venda.cpf_responsavel }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}