{% extends 'base/base.html' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>{% trans %} Lista de Imóveis <br/> <small>Todos os Imóveis Cadastrados</small>{% endtrans %}  </h1>
                <hr/>
                <table class="table table-striped table-hover">
                    <thead>
                    <tr>
                        <th>{% trans %}Código{% endtrans %}</th>
                        <th>{% trans %}CEP{% endtrans %}</th>
                        <th>{% trans %}Endereço{% endtrans %}</th>
                        <th>{% trans %}Bairro{% endtrans %}</th>
                        <th>{% trans %}Cidade{% endtrans %}</th>
                        <th>{% trans %}Estado{% endtrans %}</th>
                        <th>{% trans %}Categoria{% endtrans %}</th>
                        <th>{% trans %}Tipo{% endtrans %}</th>
                        <th>{% trans %}Tipo de Transação{% endtrans %}</th>
                        <th>{% trans %}Área Útil{% endtrans %}</th>
                        <th>{% trans %}Área Terreno{% endtrans %}</th>
                        <th>{% trans %}Valor{% endtrans %}</th>

                    </tr>
                    </thead>
                    <tbody>
                    {% for imovel in imoveis %}
                        <tr>
                            <td>{{ imovel.key.id() }}</td>
                            <td>{{ imovel.cep }}</td>
                            <td>{{ imovel.endereco }}</td>
                            <td>{{ imovel.bairro }}</td>
                            <td>{{ imovel.cidade }}</td>
                            <td>{{ imovel.estado }}</td>
                            <td>{{ imovel.categoria }}</td>
                            <td>{{ imovel.tipo }}</td>
                            <td>{{ imovel.transacao }}</td>
                            <td>{{ imovel.area_util }}</td>
                            <td>{{ imovel.area_terreno }}</td>
                            <td>{{ imovel.valor }}</td>
                            <td>
                            <a href="{{ imovel.detalhes }}" class="btn btn-success btn-sm"><i
                                    class="glyphicon glyphicon-plus"></i>
                                {% trans %}Detalhes{% endtrans %}</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}