{% extends 'sobre/base.html' %}
{% block body %}
    <div class="container">
        <div class="row">
            <hr/>
            	<div class="row clearfix">
		            <div class="col-md-12 column">
			            <div class="jumbotron">
				            <h1>
					            Seja Bem Vindo!
				            </h1>
				            <p>
					            Esta página está sendo desenvolvida como projeto da disciplina Programação Scrips da
                                FATEC São José dos Campos.
				            </p>

				            <p>
					            Barbara Lopes Luz
				            </p>

			            </div>
		            </div>
	            </div>
        </div>
    </div>
{% endblock %}